body {
    font-family: "YuMincho +36p Kana","游明朝体+36ポかな";
}

h1 {
    background-color: #d8bfd8;

}


h2 {
    color: rgb(165, 119, 207);
    border-top: 2px double #d8bfd8
}

h3 {
    color: #82add9;
    border-bottom: 2px dashed ;
}

.contents-item {
    float: left;
}

main {
    background-color: #ffe5f2;
}