body {
    width: 100%;
    margin: 0;
    background-image: url(/和室.png);
    background-position: center ;
    background-size: cover;
}

h1 {
    background-color: #d8bfd8;
    font-family: cursive;
}

h1 a {
    text-decoration: none;
}

main {
    font-family: "游ゴシック","YuGothic","Yu Gothic","游ゴシック体";
    font-weight: 500;
}

.contents.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    color: rgb(165, 119, 207);
    border-top: 2px double #d8bfd8
}

h3 {
    color: #82add9;
    border-bottom: 2px dashed ;
}

p {
    font-size: 17px;
}

.contents-item {
    padding: 5px;
}

.contents-item p {
    font-size: 20px;
}

.contents-item a {
    text-decoration: none;
}

img {
    border-radius: 5%;
}

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
  
#pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    background-color: #9FD6D2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
    
#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: #9FD6D2;
  }