h1 {
    background-color: #d8bfd8;
    font-family: cursive
}

h1 a {
    text-decoration: none;
}

main {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
}

.contents clearfix::after {
    contents: "";
    display: block;
    clear: both;
}

h2 {
    color: rgb(165, 119, 207);
    border-top: 2px double #d8bfd8
}

h3 {
    color: #82add9;
    border-bottom: 2px dashed ;
}

.contents-item {
    float: left;
    border-radius: 5%;
}

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
   
  
  #pageTop a {
    display: block;
    z-index: 999;
    padding: 8px 0 0 8px;
    border-radius: 30px;
    width: 35px;
    height: 35px;
    background-color: #9FD6D2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  
   
  
  #pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
  }